@using BitirmeProjesi.Models.Siniflar
@model List<kategori>
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> Haber Kategorileri</h2>
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Kategori</th>
        




    </tr>

    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.KategoriAd</td>
           


        </tr>

    }

</table>

